.markdown-source-view .cm-panels.cm-panels-top {
	border-bottom: 0;
}

.cm-search-panel .search-input-clear-button {
	display: none;
}

.cm-search-panel .search-input-container input ~ .input-right-decorator {
	inset-inline-end: var(--size-4-1);
	display: flex;
	align-items: center;
}

.cm-search-panel .document-search-count {
	position: relative;
	top: unset;
	transform: none;
}

.cm-search-panel .document-search:not(.show-counter) .document-search-count {
	display: none;
}

.cm-search-panel.mod-replace-mode .replace-toggle-btn {
	transform: rotate(180deg);
}

.markdown-source-view.has-search-panel .cm-line {
	&::selection, & ::selection {
		background-color: transparent;
	}
}